[submodule "lib/wormhole-solidity-sdk"]
	path = lib/wormhole-solidity-sdk
	url = https://github.com/wormhole-foundation/wormhole-solidity-sdk
[submodule "forge-contracts/lib/forge-std"]
	path = forge-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
